body{
    background-color: #211951;
    font-family: "Jersey 10", sans-serif;
    h1{
        font-size: 3.0em;
        letter-spacing: 3px;
    }
    h2{
        font-size: 1.5em;
        letter-spacing: 2px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F0F3FF;
}

.board {
    width: fit-content;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #211951;
    gap: 2px;
    padding: 2px;
    background-color: #211951;
    margin-left: auto;
    margin-right: auto;
}
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: #F0F3FF;
    cursor: pointer;
    color: #836FFF;
}

.turn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.players{
    display: flex;
    justify-content: center;
}
#player-one{
    margin-right: 90px;
}


#button-name-one,
#button-name-two,
#new-game{
    color: #15F5BA;
    background-color: #836FFF;
    border: 1px solid #0E46A3;
    font-family: "Jersey 10", sans-serif;
}

#button-name-one,
#button-name-two{
    font-size: 1.2em;
}
#new-game{
    width: 200px;
    margin-bottom: 20px;
    font-size: 2em;
}